<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<a href="https://piotrleniec-spark.github.io/workshop-slides/" target="_blank" rel="noopener">
						https://piotrleniec-spark.github.io/workshop-slides/
					</a>
				</section>
				<section>
					<img src="img/rails-logo.png" width="250">
					<p>Active Storage</p>
				</section>
				<section>
					<h2>Boring but important facts</h2>

					<ul>
						<li>Released in version 5.2</li>
						<li>Paperclip was deprecated shortly after Active Storage release</li>
						<li>Carrierwave is still maintained</li>
					</ul>
				</section>
				<section>
					<h2>Supported clouds</h2>

					<div>
						<img src="img/microsoft-azure-logo.jpg" width="250">
						<img src="img/aws-s3-logo.png" width="250">
						<img src="img/google-cloud-logo.png" width="250">
					</div>
				</section>
				<section>
					<a href="https://github.com/piotrleniec-spark/active-storage-workshop" target="_blank" rel="noopener">
						https://github.com/piotrleniec-spark/active-storage-workshop
					</a>
				</section>
				<section>
					Make sure that you have <u>imagemagick</u> installed!
				</section>
				<section>
					<pre><code data-trim class="ruby">
						class User < ApplicationRecord
						  has_one_attached :avatar
						end
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						create_table "active_storage_attachments", force: :cascade do |t|
						  t.string "name", null: false
						  t.string "record_type", null: false
						  t.integer "record_id", null: false
						  t.integer "blob_id", null: false
						  t.datetime "created_at", null: false
						  t.index ["blob_id"], name: "index_active_storage_attachments_on_blob_id"
						  t.index ["record_type", "record_id", "name", "blob_id"], name: "index_active_storage_attachments_uniqueness", unique: true
						end
					</code></pre>
					<pre><code data-trim class="ruby">
						create_table "active_storage_blobs", force: :cascade do |t|
						  t.string "key", null: false
						  t.string "filename", null: false
						  t.string "content_type"
						  t.text "metadata"
						  t.bigint "byte_size", null: false
						  t.string "checksum", null: false
						  t.datetime "created_at", null: false
						  t.index ["key"], name: "index_active_storage_blobs_on_key", unique: true
						end
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						ActiveStorage::Attachment

						# and

						ActiveStorage::Blob
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						<%= form.file_field :avatar %>
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						class SignupController < ApplicationController
						  def create
						    user = User.create!(user_params)
						    session[:user_id] = user.id
						    redirect_to root_path
						  end

						  private

						  def user_params
						    params.require(:user).permit(:email_address,
							                         :password,
							                         :avatar)
						  end
						end
					</code></pre>
				</section>
				<section>
					<h2>Task</h2>

					Add background image to users and use it on all views.
				</section>
				<section>
					<h2>Task</h2>

					Let's make avatar required and accept only jpg and png files.
				</section>
				<section>
					<pre><code data-trim class="ruby">
						class Item
							has_one_attached :image

							validate :validate_image

							private

						  def validate_image
						    if image.attached? && %w[image/png image/jpg image/jpeg].include?(image.content_type)
						      errors.add(:image, 'lol')
						    end
						  end
						end
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						user.avatar.attach(io: File.open(path), filename: 'hehe.png')
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						user.avatar.purge

						# or

						user.avatar.purge_later
					</code></pre>
				</section>
				<section>
					<h2>Task</h2>

					Add users to db/seeds.rb
				</section>
				<section>
					<pre><code data-trim class="ruby">
						class Message < ApplicationRecord
						  has_many_attached :images
						end
					</code></pre>
				</section>
				<section>
					<pre><code data-trim class="ruby">
						<%= image_tag user.avatar.variant(resize_to_fit: [100, 100]) %>

						# or


						<%= user.avatar.variant(resize: '50x50') %>
					</code></pre>
				</section>
				<section>
					<h2>Task</h2>

					Check which approach works for you.
				</section>
				<section>
					<h2>Direct cloud upload</h2>

					<img src="img/direct-cloud-upload.png">
				</section>
				<section>
					<img src="img/rails-logo.png" width="250">
					<p>Webpacker</p>
				</section>
				<section>
					<h2>Install Node Version Manager</h2>

					<a href="https://github.com/creationix/nvm" target="_blank" rel="noopener">
						https://github.com/creationix/nvm
					</a>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				],
				transition: 'none'
			});
		</script>
	</body>
</html>
